html {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00003a;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-foto {
  position: fixed;

  height: 100%;
  width: 100%;
  background-color: #030614;
  overflow: hidden;
}

.background-foto__img-1 {
  position: fixed;
  top: -30vw;
  right: -47vw;
  width: 100%;
  opacity: 0.5;
  transition: opacity 3s ease;
}

@media (max-width: 600px) {
  .background-foto__img-1 {
    opacity: 0;
  }
}
@media (max-height: 40vw) {
  .background-foto__img-1 {
    display: none;
  }
}

.background-foto__img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.icon-skills {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100px;
  align-items: stretch;
  margin: 100px;
  transition: margin 3s ease;
}

.icon-skills__icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  align-items: stretch;
  max-height: 100px;
}

.icon-skills__icon img {
  max-height: 100px;
  transition: max-height 3s ease, width 3s ease, height 3s ease;
}
.icon-skills__icon p {
  color: goldenrod;
  font-size: 36px;
  margin: 0;
}

@media (max-width: 1120px) {
  .icon-skills {
    justify-content: space-around;
    align-content: center;
    margin: 10px;
  }
  .icon-skills__icon img {
    max-height: 50px;
  }

  .icon-skills__icon p {
    font-size: 20px;
  }
}

@media (max-width: 300px) {
  .icon-skills {
    justify-content: space-around;
    align-content: center;
    margin: 10px;
  }
  .icon-skills__icon img {
    max-height: 50px;
  }

  .icon-skills__icon p {
    font-size: 20px;
  }
}

@media (max-height: 600px) {
  .icon-skills__icon img {
    max-height: 70px;
  }

  .icon-skills__icon p {
    font-size: 30px;
  }
}

@media (max-height: 100px) {
  .icon-skills__icon img {
    max-height: 50px;
  }

  .icon-skills__icon p {
    font-size: 20px;
  }
}
